.cart-list-container {
    padding: 20px;
}

.cart-card {
    margin: 10px 0;
}

.quantity-controls {
    display: flex;
    align-items: center;
}

.quantity-controls .mx-2 {
    margin: 0 10px;
}

.cart-card img {
    height: 150px;
    object-fit: cover;
}
